* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-menu-wrapper {
  background-color: #e5e5e5;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.top-menu-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 16px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.flex {
  gap: 20px;
  text-decoration: none;
}

.logo-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #f13c6e;
}

.button-call {
  padding: 12px 60px;
  border-color: #f13c6e;
  background-color: white;
  color: black;
  border-radius: 40px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #000000;
}

.button-call:hover {
  background-color: #f13c6e;
  color: white;
}

.tel {
  color: black;
  margin-right: 40px;
}

.menu {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 30px 0;
}

.menu li {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.border {
  border-top: 1px solid #efefef;
}

.header {
  padding: 20px;
}

.offers-wrapper {
  background-color: #efefef;
}

h2 {
  padding-top: 80px;
  padding-bottom: 38px;
}

.card-wrapper {
  background-color: white;
  padding: 25px 30px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-information {
  padding: 25px 30px;
}

.card-title {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin: 20px 0;
  font-weight: 400;
}

.card-price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #000000;
  display: block;
  margin-bottom: 20px;
}

.card-link {
  background: #f13c6e;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 9px 53px;
  display: inline-block;
}

.card-link:hover {
  background-color: #fff;
  border: 1px solid #f13c6e;
  color: #000000;
}

.hero-img {
  background-image: url(../img/main-chair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-wrapper {
  padding: 192px 0;
  max-width: 310px;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 50px;
}

.hero-discription {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.hero-button {
  padding: 12px 55px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 40px;
}

.hero-button:hover {
  color: #000000;
  background-color: #fff;
}

.pink-cards {
  display: flex;
  justify-content: space-between;
}

.pink-cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 25px;
}

.pink-cards-paragraph {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 25px;
  max-width: 130px;
}

.pink-wrapper {
  background-color: #f13c6e;
  display: flex;
  padding: 35px 45px;
  gap: 90px;
  align-items: center;
}

.email {
  background: #ffffff;
  border-radius: 30px;
  padding: 10px 25px;
  text-overflow: ellipsis;
  width: 225px;
  border: 0;
}

.email::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

img {
  width: 100%;
  height: auto;
}

.pink-cards-button {
  padding: 9px 53px;
  color: #ffffff;
  background: #f13c6e;
  border: 2px solid #ffffff;
  border-radius: 30px;
}

.pink-cards-button:hover {
  color: #000000;
  background-color: #ffffff;
}
